.container .row {
  margin-top: 16px;
}

.mat-card-image {
  height: 240px;
  object-fit: cover;
}

mat-card-title,
mat-card-subtitle,
mat-card-content {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}