<mat-toolbar color="primary" class="mat-elevation-z4 position-fixed">
  <mat-toolbar-row class="container">
    <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/list-produk">HP</a>
      <a mat-button routerLink="/list-book">Book</a>
      <a mat-button routerLink="/about-us">About</a>
      <a mat-button routerLink="/contact-us">Contact</a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>